# Cyclistic Bike Share Analysis 2023

# 1. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import datetime
import os

print("Bravo, libraries imported successfully!")

Bravo, libraries imported successfully!

# 2. Import Datasets

In [2]:
jan_23 = pd.read_csv("202301-divvy-tripdata.csv")
feb_23 = pd.read_csv("202302-divvy-tripdata.csv")
mar_23 = pd.read_csv("202303-divvy-tripdata.csv")
apr_23 = pd.read_csv("202304-divvy-tripdata.csv")
may_23 = pd.read_csv("202305-divvy-tripdata.csv")
jun_23 = pd.read_csv("202306-divvy-tripdata.csv")
jul_23 = pd.read_csv("202307-divvy-tripdata.csv")
aug_23 = pd.read_csv("202308-divvy-tripdata.csv")
sep_23 = pd.read_csv("202309-divvy-tripdata.csv")
oct_23 = pd.read_csv("202310-divvy-tripdata.csv")
nov_23 = pd.read_csv("202311-divvy-tripdata.csv")
dec_23 = pd.read_csv("202312-divvy-tripdata.csv")

print("Yay, CSV files are imported successfully!")

Yay, CSV files are imported successfully!

# 3. Merge The Datasets

In [3]:
dataset = [jan_23, feb_23, mar_23, apr_23, may_23, jun_23, jul_23, aug_23, sep_23, oct_23, nov_23, dec_23]
dataset = pd.concat(dataset)

print("Datasets are merged successfully!")

dataset

Datasets are merged successfully!

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
224068,F74DF9549B504A6B,electric_bike,2023-12-07 13:15:24,2023-12-07 13:17:37,900 W Harrison St,13028,Racine Ave & Congress Pkwy,TA1306000025,41.874702,-87.649804,41.874640,-87.657030,casual
224069,BCDA66E761CC1029,classic_bike,2023-12-08 18:42:21,2023-12-08 18:45:56,900 W Harrison St,13028,Racine Ave & Congress Pkwy,TA1306000025,41.874754,-87.649807,41.874640,-87.657030,casual
224070,D2CF330F9C266683,classic_bike,2023-12-05 14:09:11,2023-12-05 14:13:01,900 W Harrison St,13028,Racine Ave & Congress Pkwy,TA1306000025,41.874754,-87.649807,41.874640,-87.657030,member
224071,3829A0D1E00EE970,electric_bike,2023-12-02 21:36:07,2023-12-02 21:53:45,Damen Ave & Madison St,13134,Morgan St & Lake St*,chargingstx4,41.881396,-87.674984,41.885492,-87.652289,casual
224072,A373F5B447AEA508,classic_bike,2023-12-11 13:07:46,2023-12-11 13:11:24,900 W Harrison St,13028,Racine Ave & Congress Pkwy,TA1306000025,41.874754,-87.649807,41.874640,-87.657030,member

# 4. Checking The Data Types

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5719877 entries, 0 to 224072
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 610.9+ MB

# 5. Checking The Null Values

In [5]:
dataset.isnull().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    875716
start_station_id      875848
end_station_name      929202
end_station_id        929343
start_lat                  0
start_lng                  0
end_lat                 6990
end_lng                 6990
member_casual              0
dtype: int64

# 6. Remove The Null Values

In [6]:
dataset.dropna(how = 'any', axis = 0, inplace = True)

print("Null values removed successfully!")
print(dataset.isnull().sum())

Null values removed successfully!
ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

# 7. Checking The Duplicate Values

In [7]:
if dataset.duplicated().any():
    print("There are duplicate in the datasets!")
else:
    print("There are no duplicate in the datasets!")

There are no duplicate in the datasets!

# 8. Change The Data Type to Date and Time

In [8]:
pd.options.mode.chained_assignment = None

dataset['started_at'] = pd.to_datetime(dataset['started_at'])
dataset['ended_at'] = pd.to_datetime(dataset['ended_at'])
print("Started_at and Ended_at variables are changed successfully!")

dataset.info()

Started_at and Ended_at variables are changed successfully!
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4331707 entries, 0 to 224072
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 462.7+ MB

# 9. Making a New Column for Hours

In [9]:
dataset["start_hour"] = dataset["started_at"].dt.hour
dataset["start_hour"].unique()

array([20, 15,  7, 10, 13, 21, 16, 17, 19, 22,  9, 18, 12,  4,  6, 14, 11,
        0,  8,  5,  1, 23,  3,  2], dtype=int64)

# 10. Making a New Column for Days

In [10]:
dataset["start_day_num"] = dataset["started_at"].dt.dayofweek
day_dict = {0: "Monday", 1: "Tuesday", 2:"Wednesday", 3: "Thursday", 4: "Friday", 5: "Saturday", 6: "Sunday"}
dataset["start_day_name"] = dataset["start_day_num"].apply(lambda y:day_dict[y])
dataset["start_day_name"].unique()

array(['Saturday', 'Tuesday', 'Monday', 'Sunday', 'Thursday', 'Wednesday',
       'Friday'], dtype=object)

In [11]:
dataset["day_of_year"] = dataset["started_at"].dt.day_of_year

# 11. Making a New Column for Months

In [12]:
dataset["start_month_num"] = dataset["started_at"].dt.month
dataset["start_month_num"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int64)

In [13]:
month_dict = {1:"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June", 7:"July", 8:"August", 9:"September", 10:"October", 11:"November", 12:"December"}
dataset["start_month_name"]= dataset["start_month_num"].apply(lambda y:month_dict[y])
dataset["start_month_name"].unique()

array(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype=object)

# 12. Making a New Column for Years

In [14]:
dataset["start_year"] = dataset["started_at"].dt.year
dataset["start_year"].unique()

array([2023], dtype=int64)

# 13. Making a New Column for Ride Length

In [15]:
dataset["ride_length"] = dataset["ended_at"] - dataset["started_at"]
dataset["ride_length"] = pd.to_numeric(dataset["ride_length"])/6e+10

In [16]:
dataset["ride_distance"] = np.sqrt(((dataset["end_lat"] - dataset["start_lat"])**2) + ((dataset["end_lng"] - dataset["start_lng"])**2))
dataset["ride_distance"] = dataset["ride_distance"] * 111.139

# 14. Rename Column for Member Casual

In [17]:
dataset.rename(columns = {'member_casual': 'user_type'}, inplace=True)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4331707 entries, 0 to 224072
Data columns (total 22 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  user_type           object
 13  start_hour          int64
 14  start_day_num       int64
 15  start_day_name      object
 16  day_of_year         int64
 17  start_month_num     int64
 18  start_month_name    object
 19  start_year          int64
 20  ride_length         float64
 21  ride_distance       float64
dtypes: datetime64[ns](2), float64(6), int64(5), object(9)
memory usage: 760.1+ MB

# 15. Making Values for Weekend and Weekdays

In [18]:
dataset["weekend"] = np.where(dataset["start_day_num"] > 4, True, False)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4331707 entries, 0 to 224072
Data columns (total 23 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  user_type           object
 13  start_hour          int64
 14  start_day_num       int64
 15  start_day_name      object
 16  day_of_year         int64
 17  start_month_num     int64
 18  start_month_name    object
 19  start_year          int64
 20  ride_length         float64
 21  ride_distance       float64
 22  weekend             bool
dtypes: bool(1), datetime64[ns](2), float64(6), int64(5), object(9)
memory usage: 764.2+ MB

In [19]:
type_of_week = dataset[['start_day_name', 'weekend']]
type_of_week

       start_day_name  weekend
0            Saturday     True
1             Tuesday    False
2              Monday    False
3              Sunday     True
4            Thursday    False
...               ...      ...
224068       Thursday    False
224069         Friday    False
224070        Tuesday    False
224071       Saturday     True
224072         Monday    False

[4331707 rows x 2 columns]

In [20]:
dataset.sort_values(by = ["started_at"], inplace = True, ascending = True)
dataset

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,start_hour,start_day_num,start_day_name,day_of_year,start_month_num,start_month_name,start_year,ride_length,ride_distance,weekend
189816,D8EEE72183269F07,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,...,0,6,Sunday,1,1,January,2023,27.666667,0.244897,True
185198,E5AD797A579842F8,electric_bike,2023-01-01 00:03:26,2023-01-01 00:07:23,Sheridan Rd & Loyola Ave,RP-009,Sheridan Rd & Loyola Ave,RP-009,42.001139,-87.661256,...,0,6,Sunday,1,1,January,2023,3.950000,0.012392,True
106410,8FBD2AD70B0F6A6F,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,...,0,6,Sunday,1,1,January,2023,9.816667,2.760164,True
169407,B05BD052B9EBB767,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,...,0,6,Sunday,1,1,January,2023,12.416667,0.017714,True
18323,F9EA7B9E6C243CFC,classic_bike,2023-01-01 00:04:54,2023-01-01 00:31:52,State St & Randolph St,TA1305000029,Indiana Ave & Roosevelt Rd,SL-005,41.884621,-87.627834,...,0,6,Sunday,1,1,January,2023,26.966667,1.934492,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153555,3FA19D78E7B8E04C,classic_bike,2023-12-31 23:53:14,2023-12-31 23:56:48,Clinton St & Madison St,TA1305000032,Franklin St & Lake St,TA1307000111,41.882752,-87.641190,...,23,6,Sunday,365,12,December,2023,3.566667,0.719378,True
7127,0A91A095DFF212FF,electric_bike,2023-12-31 23:53:18,2023-12-31 23:57:57,LaSalle St & Jackson Blvd,TA1309000004,Clark St & Randolph St,TA1305000030,41.878015,-87.631652,...,23,6,Sunday,365,12,December,2023,4.650000,0.729705,True
164055,722B56B75AE5844C,electric_bike,2023-12-31 23:53:47,2023-12-31 23:55:54,Michigan Ave & Lake St,TA1305000011,Michigan Ave & Lake St,TA1305000011,41.886258,-87.624602,...,23,6,Sunday,365,12,December,2023,2.116667,0.034611,True
222564,6FB217B8B8152D9B,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,...,23,6,Sunday,365,12,December,2023,28.783333,0.419004,True
119377,E3ADFD6C7743E816,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,...,23,6,Sunday,365,12,December,2023,7.216667,2.409951,True

# 16. Describing Ride Length

In [21]:
dataset["ride_length"].describe(include = "all")

count    4.331707e+06
mean     1.595185e+01
std      3.608719e+01
min     -5.456667e+01
25%      5.616667e+00
50%      9.800000e+00
75%      1.748333e+01
max      1.213630e+04
Name: ride_length, dtype: float64

In [22]:
trip_mins = dataset[["started_at", "ended_at", "ride_length"]]
trip_mins.nlargest(10, ["ride_length"])

                started_at            ended_at   ride_length
12699  2023-05-30 12:48:08 2023-06-07 23:04:26  12136.300000
433992 2023-06-03 17:52:15 2023-06-11 11:44:31  11152.266667
274283 2023-08-10 22:17:49 2023-08-15 17:09:02   6891.216667
71355  2023-08-02 17:28:57 2023-08-06 11:07:57   5379.000000
431775 2023-06-15 13:28:59 2023-06-18 23:12:06   4903.116667
383302 2023-06-18 19:21:22 2023-06-21 10:59:46   3818.400000
77516  2023-08-18 09:13:48 2023-08-20 16:14:38   3300.833333
163329 2023-05-10 18:42:11 2023-05-13 00:47:58   3245.783333
486760 2023-07-06 21:34:55 2023-07-08 14:32:46   2457.850000
397813 2023-04-13 17:46:11 2023-04-15 08:55:32   2349.350000

In [26]:
#Remove the outliers
outliers_ride_length = (dataset["ride_length"] < 1) | (dataset["ride_length"] > 480)
outliers_ride_length.value_counts()

False    4240180
True       91527
Name: ride_length, dtype: int64

In [27]:
dataset.drop(dataset.index[outliers_ride_length], inplace = True)

print("Inconsistent values are deleted successfully!")

Inconsistent values are deleted successfully!

In [28]:
dataset

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,start_hour,start_day_num,start_day_name,day_of_year,start_month_num,start_month_name,start_year,ride_length,ride_distance,weekend
189816,D8EEE72183269F07,classic_bike,2023-01-01 00:02:06,2023-01-01 00:29:46,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,...,0,6,Sunday,1,1,January,2023,27.666667,0.244897,True
106410,8FBD2AD70B0F6A6F,classic_bike,2023-01-01 00:04:07,2023-01-01 00:13:56,Leavitt St & Lawrence Ave,TA1309000015,Broadway & Argyle St,13108,41.968885,-87.684001,...,0,6,Sunday,1,1,January,2023,9.816667,2.760164,True
169407,B05BD052B9EBB767,electric_bike,2023-01-01 00:04:27,2023-01-01 00:16:52,Clark St & Montrose Ave,KA1503000022,Clark St & Montrose Ave,KA1503000022,41.961545,-87.666189,...,0,6,Sunday,1,1,January,2023,12.416667,0.017714,True
59601,27C2A67184C49D01,electric_bike,2023-01-01 00:05:43,2023-01-01 00:21:37,Wabash Ave & Grand Ave,TA1307000117,Streeter Dr & Grand Ave,13022,41.891505,-87.626863,...,0,6,Sunday,1,1,January,2023,15.900000,1.649280,True
189818,776F6B226016E50A,classic_bike,2023-01-01 00:06:03,2023-01-01 00:29:39,Fairbanks Ct & Grand Ave,TA1305000003,New St & Illinois St,TA1306000013,41.891847,-87.620580,...,0,6,Sunday,1,1,January,2023,23.600000,0.244897,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153646,37B630E2462E2C02,electric_bike,2023-12-31 23:53:00,2024-01-01 00:27:12,Clark St & Lake St,KA1503000012,Wabash Ave & Wacker Pl,TA1307000131,41.885678,-87.631170,...,23,6,Sunday,365,12,December,2023,34.200000,0.586547,True
153555,3FA19D78E7B8E04C,classic_bike,2023-12-31 23:53:14,2023-12-31 23:56:48,Clinton St & Madison St,TA1305000032,Franklin St & Lake St,TA1307000111,41.882752,-87.641190,...,23,6,Sunday,365,12,December,2023,3.566667,0.719378,True
164055,722B56B75AE5844C,electric_bike,2023-12-31 23:53:47,2023-12-31 23:55:54,Michigan Ave & Lake St,TA1305000011,Michigan Ave & Lake St,TA1305000011,41.886258,-87.624602,...,23,6,Sunday,365,12,December,2023,2.116667,0.034611,True
222564,6FB217B8B8152D9B,electric_bike,2023-12-31 23:55:28,2024-01-01 00:24:15,McClurg Ct & Ohio St,TA1306000029,Fairbanks Ct & Grand Ave,TA1305000003,41.892036,-87.616815,...,23,6,Sunday,365,12,December,2023,28.783333,0.419004,True
119377,E3ADFD6C7743E816,electric_bike,2023-12-31 23:58:55,2024-01-01 00:06:08,Wolcott (Ravenswood) Ave & Montrose Ave,TA1307000144,Sheridan Rd & Montrose Ave,TA1307000107,41.961456,-87.676323,...,23,6,Sunday,365,12,December,2023,7.216667,2.409951,True

In [29]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3667748 entries, 189816 to 119377
Data columns (total 23 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  user_type           object
 13  start_hour          int64
 14  start_day_num       int64
 15  start_day_name      object
 16  day_of_year         int64
 17  start_month_num     int64
 18  start_month_name    object
 19  start_year          int64
 20  ride_length         float64
 21  ride_distance       float64
 22  weekend             bool
dtypes: bool(1), datetime64[ns](2), float64(6), int64(5), object(9)
memory usage: 647.1+ MB

# 17. Import the Dataset

In [30]:
dataset.to_csv('cyclistic_dataset.csv', index=False)

print("Dataset exported as CSV file successfully.")

Dataset exported as CSV file successfully.